{% extends 'base.html' %} 
{% block main-content %}
<div class="hero-unit">
<h1>¿Sabías que el SAT cancela créditos? Pero sólo a algunos...</h1>
<h2>En el 2007 la Secretaría de Administración Tributaria canceló 711, 626 créditos fiscales por un total de: <h1> $73,960 millones de pesos.</h1></h2>
</div>
<h1>¿Que se podría hacer con este dinero?</h1>
  
    <h3>Diez mil millones de pesos más que el presupuesto asignado para el Programa Oportunidades  en 2012 ($63,873 millones de pesos).</h3><br /><br />
    <h3>Alcanzaría para sostener el programa de Estancias Infantiles por 37 años ($2,281 millones de pesos).</h3><br /><br />
    <h3>Diez mil millones de pesos más que el presupuesto asignado para el Seguro Popular  en 2012 ($64,202 millones de pesos).</h3><br /><br />
{% endblock main-content %}