{% extends 'base.html' %} 
{% block main-content %}
<div class="hero-unit">
  <h1>¿Sabías que el SAT sí perdona?</h1>
  <h2>Consulta los créditos condonados por montos, motivo, tipo de persona, estado</h2>
</div>
 <input type="text" id="specific-search" placeholder="Escribe Monto, tipo de persona, estado, motivo de cancelación, etc"/>
<table cellpadding="0" cellspacing="0" border="0" id="credits-search-datatable" class="table table-striped ">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Appellidos</th>
          <th>Partido</th>
          <th>Tipo de Elección</th>
          <th>Contactar</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
{% endblock main-content %}
{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}main/js/search.js"></script>
{% endblock js %}
